@font-face {
	font-family: 'buljirya';
		src: url("fonts/buljirya-regular.eot");
		src: url("fonts/buljirya-regular.eot?#iefix") format("embedded-opentype"), url("fonts/buljirya-regular.woff") format("woff"), url("fonts/buljirya-regular.ttf") format("truetype"), url("fonts/buljirya-regular.svg#buljirya-regular") format("svg");
		font-weight: normal;
		font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-logo {
	background-color: #FFF;
	font-family: "buljirya", Arial, sans-serif;
	font-size: 30px;
}

.main-title {
	font-family: "buljirya", Arial, sans-serif;
	text-transform: capitalize;
	letter-spacing: 0.25rem;
}

.header-logo a {
  color: #B09171;
  text-decoration: none !important;
}

.page-header {
	padding: 0;
	background-color: #2A3234;
	background-size: cover;
}

@media (min-width: 992px) {
#header .header-nav-bar.header-nav-bar-top-border {
    border-bottom: 1px solid #EDEDED;
}
}

@media (max-width: 575px) {
	.main-background {
		background-position: center !important;
	}
	.main-title {
		font-size: 3rem !important;
    letter-spacing: normal;
    line-height: 1.8;
    text-align: center;
	}
}

/* FOOTER */
.social-icons li:hover.social-icons-imdb a {
	background: #E1B517 !important;
}

.social-icons li:hover.social-icons-tiktok a {
	background: #69C9D0 !important;
}

.social-icons li:hover.social-icons-vimeo a {
	background: #19b7ea !important;
}

.social-icons.social-icons-big li a, .social-icons.social-icons-lg li a {
	height: 50px;
	line-height: 56px;
	width: 50px;
}

@media (max-width: 400px) {
	.social-icons.social-icons-big li a, .social-icons.social-icons-lg li a {
		height: 40px;
		line-height: 46px;
		width: 40px;
	}
}